<?xml version="1.0" encoding="utf-8"?>
<log4net xmlns="urn:log4net">
  <!--用于写入到es的log-->
  <logger name="Default">
    <level value="DEBUG" />
    <appender-ref ref="ElasticSearchAppender" />
  </logger>
  <appender name="ElasticSearchAppender" type="RPoney.Log.Appenders.Redis.RedisAppender, RPoney.Log">
    <param name="ProjectName" value="sdkbi.kpzs.com"/>
    <!--各项目配置名称要求不同-->
  </appender>
  <!--用于写入到es的log-->
</log4net>